* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  body {
    background: linear-gradient(135deg, #708D23, #708D23);
    color: #fff; /* muda tudo para branco */
    text-align: center;
}

header {
    padding: 60px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

section {
    padding: 50px 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.foto {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

ul {
    list-style: none;
}

ul li {
    margin: 10px 0;
}

footer {
    padding: 30px;
    font-size: 0.9rem;
}
.galeria {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    overflow-x: auto;
    padding-bottom: 10px;
    flex-wrap: nowrap; /* força uma única linha */
}

.galeria img {
    width: 250px;
    height: 400px; /* define altura fixa */
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0; /* impede que encolham */
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

.inicio {
    text-align: center;
}

.historia {
    max-width: 800px;
    margin: 30px auto;
    text-align: justify;
    line-height: 1.8;
    font-size: 1.1rem;
}    
.mensagem-secreta {
    display: none;
    margin-top: 60px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    animation: fadeIn 1s ease forwards;
}

.mensagem-secreta.ativa {
    display: block;
}

.segredo {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
.porque {
    text-align: center; /* centraliza o título */
    margin-top: 80px;
}

.porque ul {
    list-style: none;        /* remove as bolinhas */
    padding: 0;              /* remove o recuo padrão */
    margin: 40px auto 0 auto;
    max-width: 700px;        /* deixa mais organizado visualmente */
    text-align: left;        /* texto alinhado como parágrafo */
}

.porque li {
    margin-bottom: 12px;     /* espaço entre as frases */
    line-height: 1.6;
}
.mensagem-final {
    text-align: center;
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;
}

.mensagem-final h2 {
    margin-bottom: 30px;
}

.mensagem-final p {
    line-height: 1.8;
    font-size: 18px;
}
.mensagem-final {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}
.mensagem-secreta *,
.mensagem-final * {
    color: #000;
}

